############################
# Maven
############################
target/
!**/src/main/**
!**/src/test/**

############################
# Logs
############################
*.log
logs/
*.out

############################
# IntelliJ IDEA
############################
.idea/
*.iml

############################
# Eclipse / STS
############################
.project
.classpath
.settings/
.springBeans

############################
# VS Code
############################
.vscode/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Build artifacts
############################
*.jar
*.war
*.ear

############################
# Node (landing page varsa)
############################
node_modules/
dist/
build/

############################
# Environment / secrets
############################
.env
.env.*
*.key
*.pem

############################
# for private
############################
*.db
*.sqlite

############################
# Test Out
############################
surefire-reports/
failsafe-reports/

############################
# Coverage
############################
coverage/